@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="footer">
    <div class="line"><img src="/media/footerline.svg"></div>
    <div class="container">
        <div class="logo">
            <img src="/media/websitelogodark.svg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
        </div>
        <div class="company">
            <h2>Company</h2>
            <p>About</p>
            <p>Features</p>
            <p>Works</p>
            <p>Career</p>
        </div>
        <div class="help">
            <h2>Help</h2>
            <p>Customer Support</p>
            <p>Delivery Details</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
        <div class="resources">
            <h2>Resources</h2>
            <p>Free eBooks</p>
            <p>Development Tutorial</p>
            <p>How to - Blog</p>
            <p>Youtube Playlist</p>
        </div>
        <div class="link">
            <h2>Link</h2>
            <p>Free eBooks</p>
            <p>Development Tutorial</p>
            <p>How to - Blog</p>
            <p>Youtube Playlist</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="copyright">
                <p><i class="fa-regular fa-copyright"></i> 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
            </div>
            <div class="socialmedia">
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>