@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="header">
    <container>
        <container class="menu">
            <div class="logo"><a href="/"><img src="/media/websitelogobright.svg" alt=""></a></div>
            <div class="contactinfo">
                <div class="phonenumber"><i class="fa-regular fa-phone-volume"></i> +46 (8) 121 470 50</div>
                <div class="email"><i class="fa-regular fa-envelope"></i> info@crito.com</div>
                <div class="adress"><i class="fa-light fa-location-dot"></i> Sveavägen 31, 111 34 STOCKHOLM</div>
            </div>
            <div class="socialmedia">
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="routingpages">
                <a class="home" href="/">Home</a>
                <a class="service" href="/">Service</a>
                <a class="news" href="/news">News</a>
                <a class="contact" href="/contact">Contact</a>
            </div>
            <button class="yellow-btn">Login <i class="fa-regular fa-arrow-up-right"></i></button>    
        </container>
    </container>
</section>