@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- letsconnect start -->
<section class="letsconnect">
    <div class="container">
        <div class="contact">
            <div class="infobox">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <div class="info">
                    <h2>Visit us</h2>
                    <p>Sveavägen 31</p>
                    <p>111 34 STOCKHOLM</p>
                </div>
            </div>
            <div class="infobox">
                <i class="fa-solid fa-phone"></i>
                <div class="info">
                    <h2>Call us</h2>
                    <p>+46 (8) 121 470 50</p>
                    <p>+46 (8) 121 470 51</p>
                </div>
            </div>
            <div class="infobox">
                <i class="fa-regular fa-envelope"></i>
                <div class="info">
                    <h2>Email us</h2>
                    <p>info@crito.com</p>
                    <p>support@crito.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container second">
        <h1>Leave us a message<br> for any information.</h1>
        <form>
            <input type="text" for="name" id="name" name="name" placeholder="Name*">

            <input type="text" for="email" id="email" name="email" placeholder="Email*">

            <textarea type="text" for="message" id="message" name="message" placeholder="Your Message*" style="height: 160px;"></textarea>

            <button type="submit" class="yellow-btn">
                Send Message <i class="fa-light fa-arrow-up-right"></i>
            </button>
        </form>
    </div>
</section>
<!-- letsconnect end -->