@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- map start -->
<section class="map">
    <div class="container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8139.321931554885!2d18.061971661916886!3d59.33578394570683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1695126231832!5m2!1ssv!2sse" width="100%" height="620" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- map end -->