@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- newsandarticlespage start -->
<section class="newsandarticlespage">
    <div class="container">
        <h1>Our News & Articles</h1>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article1"><img src="/media/digitalization.svg"></a>
            </div>
            <p>Business</p>
            <h2>How To Use Digitalization In The Classroom</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article2"><img src="/media/chatgpt.svg"></a>
            </div>
            <p>Business</p>
            <h2>How To Implement Chat GPT In Your Projects</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article3"><img src="/media/guidetomoderncss.svg"></a>
            </div>
            <p>Business</p>
            <h2>The Guide To Support Modern CSS Design</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article4"><img src="/media/implementfives.svg"></a>
            </div>
            <p>Business</p>
            <h2>Why You Need To Implement The Five S's</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article5"><img src="/media/moreinvolved.svg"></a>
            </div>
            <p>Business</p>
            <h2>Get More Involved With Your End Users</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article6"><img src="/media/stockholmoffice.svg"></a>
            </div>
            <p>Business</p>
            <h2>Guided Tour Of Our New Head Office In Stockholm</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article7"><img src="/media/businessintelligence.svg"></a>
            </div>
            <p>Business</p>
            <h2>Using Business Intelligence To Get Insights Into Our Business</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article8"><img src="/media/applerelease.svg"></a>
            </div>
            <p>Business</p>
            <h2>Apple Has Released New Products. Are They Any Good?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="infobox">
            <div class="picture">
                <a href="/news/details/article9"><img src="/media/improveyourteams.svg"></a>
            </div>
            <p>Business</p>
            <h2>How To Improve Your Teams And Get A Better Result</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
        </div>
        <div class="navigation">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link"><i class="fa-solid fa-chevron-left"></i></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>