@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}
<!-- consulting start -->
<section class="getconsulting">
    <div class="container">
        <div class="providingsolutions">
            <h1>We Provide The</h1>
            <h1>Best Business</h1>
            <h1>Solutions</h1>
            <p>Establish your vision and value proposition and turn them into testable</p>
            <p>prototypes.</p>
            <button class="yellow-btn">Get Consulting<i class="fa-regular fa-arrow-up-right"></i></button>
            <button class="white-btn">Learn More<i class="fa-regular fa-arrow-up-right"></i></button>
        </div>
        <div class="picture"><img src="media/manwithipad.svg" alt=""></div>
    </div>
</section>
<!-- consulting end -->
<!-- partners start -->
<section class="partners">
    <div class="container">
        <div class="firstbox"><img src="media/paperzlogo.svg" alt=""></div>
        <div class="partnerbox"><img src="media/dorfuslogo.svg" alt=""></div>
        <div class="partnerbox"><img src="media/martinologo.svg" alt=""></div>
        <div class="partnerbox"><img src="media/squarelogo.svg" alt=""></div>
        <div class="partnerbox"><img src="media/gobonalogo.svg" alt=""></div>
    </div>
</section>
<!-- partners end -->

<!-- accountingadvice start -->
<section class="accountingadvice">
    <div class="container-fluid">
        <div class="container">
            <div class="accountingfeatures">
                <p>Features</p>
                <h1>Our Accounting is</h1>
                <h1>trusted by thousand</h1>
                <h1>of companies</h1>
                <button class="yellow-btn">Learn More</button>
            </div>
            <div class="businessadvice">
                <img src="media/handshake.svg" alt="">
                <h2>Business Advice</h2>
                <p>Lorem ipsum, dolor sit amet</p>
                <p>consectetur adipisicing elit.</p>
            </div>
            <div class="startupbusiness">
                <img src="media/lightbulb.svg" alt="">
                <h2>Startup Business</h2>
                <p>Lorem ipsum, dolor sit amet</p>
                <p>consectetur adipisicing elit.</p>
            </div>
            <div class="financialadvice">
                <img src="media/financialadvice.svg" alt="">
                <h2>Financial Advice</h2>
                <p>Lorem ipsum, dolor sit amet</p>
                <p>consectetur adipisicing elit.</p>
            </div>
            <div class="riskmanagement">
                <img src="media/riskmanagement.svg" alt="">
                <h2>Risk Management</h2>
                <p>Lorem ipsum, dolor sit amet</p>
                <p>consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>
<!-- accountingadvice end -->

<!-- aboutcompany start -->
<section class="aboutcompany">
    <div class="container">
        <div class="picture"><img src="media/samanthabrown.svg" alt=""></div>
        <div class="founder">
            <h2>Samantha Brown, <span>Founder</span></h2>
            <p>"Lorem ipsum dolor sit amet consectetur</p>
            <p>adipisicing elit."</p>
        </div>
        <div class="expertcompany">
            <p class="toptext">About Company</p>
            <h1>We Are Business</h1>
            <h1>Consulting & Credit</h1>
            <h1>Repair Experts</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam</p>
            <p>officiis quas assumenda esse obcaecati? Ex esse error voluptates iure</p>
            <p>vel totam eos.</p>
            <p class="textspace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse </p>
            <p>quasi incidunt adipisci accusantium libero provident voluptate amet.</p>
            <div class="buttons">
                <button class="black-btn">Learn More <i class="fa-solid fa-arrow-up-right"></i></button>
                <button class="white-btn"><i class="fa-solid fa-play"></i></button><a href="#">Intro Video</a>
            </div>
        </div>
    </div>
</section>
<!-- aboutcompany end -->

<!-- ourservices start -->
<section class="ourservices">
    <div class="container">
        <p class="aboveheadline">Our Services</p>
        <h1>We Provide The Best</h1>
        <h1>Service For Consulting</h1>
        <div class="advices">
            <div class="infobox">
                <div class="line">_______</div>
                <h2>Business Advice</h2>
                <p>Lorem, ipsum dolor sit amet</p>
                <p>consectetur adipisicing elit. Officiis</p>
                <p>in nam possimus.</p>
                <button class="black-btn"><i class="fa-light fa-arrow-right"></i></button>
            </div>
            <div class="infobox">
                <div class="line">_______</div>
                <h2>Startup Business</h2>
                <p>Lorem, ipsum dolor sit amet</p>
                <p>consectetur adipisicing elit. Officiis</p>
                <p>in nam possimus.</p>
                <button class="black-btn"><i class="fa-light fa-arrow-right"></i></button>
            </div>
            <div class="infobox">
                <div class="line">_______</div>
                <h2>Financial Advice</h2>
                <p>Lorem, ipsum dolor sit amet</p>
                <p>consectetur adipisicing elit. Officiis</p>
                <p>in nam possimus.</p>
                <button class="black-btn"><i class="fa-light fa-arrow-right"></i></button>
            </div>
            <div class="infobox">
                <div class="line">_______</div>
                <h2>Risk Management</h2>
                <p>Lorem, ipsum dolor sit amet</p>
                <p>consectetur adipisicing elit. Officiis</p>
                <p>in nam possimus.</p>
                <button class="black-btn"><i class="fa-light fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="fixateddiv">
            <button class="transparent-btn">Browse Services <i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>
<!-- ourservices end -->

<!-- whychooseus start -->
<section class="whychooseus">
    <div class="container-fluid">
        <div class="leftbox">
            <p class="aboveheadline">Why Choose Us</p>
            <h1>Why We Are The Best Business Consulting Agency</h1>
            <div class="infobox">
                <img src="media/processexcellence.svg">
                <div class="text">
                    <h2>Process Excellence</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="infobox">
                <img src="media/strategicplanning.svg">
                <div class="text">
                    <h2>Strategic Planning</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="infobox">
                <img src="media/experiencedesign.svg">
                <div class="text">
                    <h2>Experience Design</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="infobox">
                <img src="media/artificialintelligence.svg">
                <div class="text">
                    <h2>Artificial Intelligence</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="image"><img src="media/twokarens.svg" ></div>
        </div>
        <div class="greybox"></div>
    </div>
</section>
<!-- whychooseus end -->

<!-- globalprojects start -->
<section class="globalprojects">
    <div class="container-fluid">
        <div class="toptext">
            <p class="aboveheadline">Project & Case Studies</p>
            <h1>Let's Look At Our Global Projects</h1>
        </div>
        <div class="container">
            <div class="article">
                <img src="media/growyourbusiness.svg">
                <h2>Grow your business</h2>
                <div class="readmore">
                    <a href=""><p>Read More <i class="fa-solid fa-arrow-up-right"></i></p></a>
                </div>
            </div>
            <div class="article">
                <img src="media/responsivewebsite.svg">
                <h2>Why your client needs a responsive website</h2>
                <div class="readmore">
                    <a href=""><p>Read More <i class="fa-solid fa-arrow-up-right"></i></p></a>
                </div>
            </div>
            <div class="article">
                <img src="media/educateemployees.svg">
                <h2>Educate your employees to get better results</h2>
                <div class="readmore">
                    <a href=""><p>Read More <i class="fa-solid fa-arrow-up-right"></i></p></a>
                </div>
            </div>
            <div class="article">
                <img src="media/businessinsights.svg">
                <h2>Business Insights is an important piece of your business</h2>
                <div class="readmore">
                    <a href=""><p>Read More <i class="fa-solid fa-arrow-up-right"></i></p></a>
                </div>
            </div>
        </div>
        <div class="bottomplacement">
            <button class="black-btn">All Recent Projects <i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
    </div>
    
</section>
<!-- globalprojects end -->

<!-- meetourteam start -->
<section class="meetourteam">
    <div class="container">
        <div class="topofsection">
            <div class="toptext">
                <p class="aboveheadline">Meet Our Team</p>
                <h1>Experienced Team Members</h1>
            </div>
            <button class="yellow-btn">Browse Team <i class="fa-solid fa-arrow-up-right"></i></button>
        </div>

        <div class="teammembers">
            <div class="members">
                <div class="infobox">
                    <img src="media/kristinepalmer.svg">
                    <h2>Kristine Palmer</h2>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="infobox">
                    <img src="media/markaubri.svg">
                    <h2>Mark Aubri</h2>
                    <p>Senior Consultant</p>
                </div>
                <div class="infobox">
                    <img src="media/kimberlyhansen.svg">
                    <h2>Kimberly Hansen</h2>
                    <p>Senior Consultant</p>
                </div>
                <div class="infobox">
                    <img src="media/justinwilloman.svg">
                    <h2>Justin Willoman</h2>
                    <p>Senior Tech Consultant</p>
                </div>
            </div>
            <div class="slider"><i class="fa-duotone fa-circle"></i><i class="fa-solid fa-circle"></i><i class="fa-duotone fa-circle"></i><i class="fa-duotone fa-circle"></i><i class="fa-duotone fa-circle"></i></div>
        </div>

        <div class="testimonial">
            <div class="toptext">
                <p class="aboveheadline">Testimonial</p>
                <h1>What Our Clients Say</h1>
            </div>
            <div class="clients">
                <div class="infobox">
                    <div class="stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <div class="text"><p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p></div>
                    <div class="client">
                        <div class="picture"><img src="media/cassandrawarren.svg"></div>
                        <div class="clientinfo">
                            <h2>Cassandra Warren</h2>
                            <p>Business Manager, Dorfus</p>
                        </div>
                    </div>
                </div>
                <div class="infobox">
                    <div class="stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <div class="text"><p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p></div>
                    <div class="client">
                        <div class="picture"><img src="media/amandatulling.svg"></div>
                        <div class="clientinfo">
                            <h2>Amanda Tulling</h2>
                            <p>Senior Developer, Square</p>
                        </div>
                    </div>
                </div>
                <div class="infobox">
                    <div class="stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <div class="text"><p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p></div>
                    <div class="client">
                        <div class="picture"><img src="media/jackmcdogglas.svg"></div>
                        <div class="clientinfo">
                            <h2>Jack McDogglas</h2>
                            <p>Key Account Manager, Gobona</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="placement">
                <button class="black-btn">All Reviews <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
</section>
<!-- meetourteam end -->

<!-- articlesandnews start -->
<section class="articlesandnews">
    <div class="container">
        <div class="topofsection">
            <div class="toptext">
                <p class="aboveheadline">Articles & News</p>
                <h1>Get All Articles & News</h1>
            </div>
            <button class="transparent-btn">Browse Articles <i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
        <div class="articles">
            <div class="infobox">
                <div class="picture">
                    <img src="media/digitalization.svg">
                </div>
                <p>Business</p>
                <h2>How To Use Digitalization In The Classroom</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="infobox">
                <div class="picture">
                    <img src="media/chatgpt.svg">
                </div>
                <p>Business</p>
                <h2>How To Implement Chat GPT In Your Projects</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="infobox">
                <div class="picture">
                    <img src="media/guidetomoderncss.svg">
                </div>
                <p>Business</p>
                <h2>The Guide To Support Modern CSS Design</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
        </div>
        <div class="slider"><i class="fa-solid fa-circle"></i><i class="fa-duotone fa-circle"></i><i class="fa-duotone fa-circle"></i><i class="fa-duotone fa-circle"></i><i class="fa-duotone fa-circle"></i></div>
    </div>
</section>
<!-- articlesandnews end -->

<!-- getupdates start -->
<section class="getupdates">
    <div class="container">
        <div class="content">
            <h1>Get News Updates By Signup</h1>
            <div class="subscribe">
                <p class="email">username@domain.com</p>
                <button class="yellow-btn">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
    <img src="media/updatesline.svg">
</section>
<!-- getupdates end -->